@model Prueba.Models.Marcas

@{
    ViewBag.Title = "Registro";
}

<h2>Registro de nueva marca</h2>


@using (Html.BeginForm()) //Inicia formulario de html
{
    @Html.AntiForgeryToken() //Token de antifalsificación

    <!-- Contenedor de formulario horizontal -->
    <div class="form-horizontal">
        <hr />
        <!-- Muestra los errores de la validacion del formulario -->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Nombre de la Marca :</label>
            <div class="col-md-10">
                <!-- Genera input -->
                @Html.EditorFor(model => model.Nombre_Marca, new { htmlAttributes = new { @class = "form-control" } })
                <!-- Muestra un mensaje de error si la validación falla -->
                @Html.ValidationMessageFor(model => model.Nombre_Marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Representante :</label>
            <div class="col-md-10">
                <!-- Genera input -->
                @Html.EditorFor(model => model.Representante, new { htmlAttributes = new { @class = "form-control" } })
                <!-- Muestra un mensaje de error si la validación falla -->
                @Html.ValidationMessageFor(model => model.Representante, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ingresar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
